html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

:root {
    --light-color: #F5F5F7;
    --dark-color: #221F20;
    --container-padding-inline: 13%;
    --footer-padding-inline: 10%;
}

/* @property --dark-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #221F20;
}

@property --container-padding-inline {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 13%;
} */

html {
    font-family: "Inter", sans-serif;
}

.container {
    padding: 0 var(--container-padding-inline);
}

.title {
    text-align: center;
    color: var(--dark-color, #221F20);
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
}

.divider {
    margin: 3px auto 0px auto;
    width: 75px;
    height: 2px;
    background-color: #000;
    transform: translateX(50px);
}

.promo {
    position: relative;
    min-height: 100vh;
    background: url('../img/main_bg.jpg') center center / cover no-repeat;
    padding-top: 75px;
}

.promo__title {
    color: var(--light-color, #F5F5F7);
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: normal;
}

.promo__subtitle {
    color: var(--light-color, #F5F5F7);
    font-size: 32px;
    font-weight: 100;
    line-height: normal;
    margin-top: 124px;
}

.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 160px;
    min-height: 38px;
    border: 1px solid var(--light-color, #F5F5F7);
    background: rgba(217, 217, 217, 0.00);
    margin-top: 20px;
    color: var(--light-color, #F5F5F7);
    font-size: 16px;
    font-weight: 100;
    padding: 10px 10px;
    cursor: pointer;
}

.promo__address {
    margin-top: 100px;
    color: var(--light-color, #F5F5F7);
    font-size: 16px;
    font-weight: 100;
    line-height: normal;

    address {
        font-style: normal;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.keywords {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 0 360px;
    width: 100%;
    height: 30px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.20) 100%);

    li {
        list-style-type: none;
        color: var(--light-color, #F5F5F7);
        font-size: 14px;
        font-weight: 100;
        line-height: normal;
    }
}

.about {
    background-color: var(--light-color);
    padding-top: 80px;
}

.about__title {
    color: var(--dark-color, #221F20);
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.about__text {
    width: 1052px;
    color: var(--dark-color, #221F20);
    font-size: 40px;
    font-weight: 400;
    margin-top: 20px;
    line-height: normal;

    span {
        color: #A5A5A5;
    }
}

.services {
    display: flex;
    column-gap: 30px;
    margin-top: 80px;
}

.services__items {
    width: 50%;

    ul {
        margin-top: 20px;
        padding: 0;

        li {
            list-style-type: none;
            color: var(--dark-color, #221F20);
            font-size: 16px;
            font-weight: 400;
            margin-top: 10px;
            line-height: normal;
        }
    }
}

.services__items-subtitle {
    color: var(--dark-color, #221F20);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.services__text {
    width: 50%;
    color: var(--dark-color, #221F20);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
}

.works {
    padding-top: 80px;
    background: var(--light-color, #F5F5F7);
}

.works__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 1.5fr;
    column-gap: 30px;
    row-gap: 50px;
    margin-top: 50px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
}

.inspiration {
    padding-top: 80px;
    background: var(--light-color, #F5F5F7);

    .divider {
        margin: 3px auto 0px auto;
        transform: translateX(85px);
    }
}

.inspiration__grid {
    margin-top: 50px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 30px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .horizontal {
        height: 100%;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .vertical {
        width: 100%;
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }
}

.customers {
    background: var(--light-color, #F5F5F7);
    padding: 80px 0 80px 0;

    .divider {
        margin: 3px auto 0px auto;
        transform: translateX(90px);
    }
}

.customers__items {
    display: flex;
    margin-top: 50px;
    column-gap: 30px;

    img {
        box-shadow: 7px 7px 12px 0px rgba(0, 0, 0, 0.25);
    }
}

.footer {
    padding: 80px 190px 80px 190px;
    background: #000;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: var(--light-color, #F5F5F7);
        font-size: 20px;
        text-decoration: none;
    }
}

.social__items {
    display: flex;
    column-gap: 35px;

    img {
        width: 32px;
        height: 32px;
        border: 1px solid var(--light-color, #F5F5F7);
        background: rgba(217, 217, 217, 0.00);
        padding: 5px 5px;
    }
}

.address {
    color: var(--light-color, #F5F5F7);
    font-size: 20px;
}

/* Адаптация  */
@media (max-width: 1439px) {
    .keywords {
        padding: 0px 50px;
    }

    .about__text {
        width: 100%;
    }

    .customers__items {
        img {
            width: 280px;
        }
    }
}

@media (max-width: 1200px) {
    .promo__title {
        font-size: 52px;
    }

    .promo__subtitle {
        font-size: 30px;
    }

    .keywords {
        padding: 0px 10px;

        #Nature,
        #Portrait,
        #Fashion,
        #Urban {
            display: none;
        }
    }

    .about__text {
        font-size: 35px;
    }

    .services {
        column-gap: 60px;
    }

    .customers__items {
        justify-content: center;
    }

    .footer {
        padding: 80px 110px 80px 110px;
    }
}

@media (max-width: 992px) {
    .promo__title {
        font-size: 40px;
    }

    .promo__subtitle {
        font-size: 26px;
    }

    .keywords {
        padding: 0px 10px;

        #Design,
        #Clothes {
            display: none;
        }
    }

    .about__text {
        font-size: 26px;
    }

    .services__items {
        width: 100%;
    }

    .services {
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 0px;
    }

    .services__text {
        width: 100%;
    }

    .title {
        font-size: 36px;
    }

    .divider {
        transform: translateX(40px);
    }

    .inspiration {
        .divider {
            transform: translateX(75px);
        }
    }


    .inspiration__grid {
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);

        .vertical {
            grid-row: 1 / 3;
            grid-column: 3 / 5;
        }

        .horizontal {
            grid-column: 1 / 5;
            grid-row: 3 / 4;
        }
    }

    .customers {
        .divider {
            transform: translateX(80px);
        }
    }

    .customers__items {
        justify-content: center;

        img {
            width: 230px;
        }
    }

    .footer {
        padding: 80px 30px 80px 30px;

        a {
            font-size: 18px;
        }

        .address {
            font-size: 18px;
        }

        .social__items {
            column-gap: 30px;
        }

        img {
            width: 29px;
            height: 29px;
        }
    }
}

@media (max-width: 768px) {
    :root {
        --container-padding-inline: 6%;
        --footer-padding-inline: 6%;
    }

    .promo__title {
        font-size: 32px;
    }

    .promo__subtitle {
        font-size: 22px;
    }

    .keywords {
        padding: 0px 10px;

        #Company,
        #Family {
            display: none;
        }
    }

    .about__text {
        font-size: 21px;
    }

    .services__text {
        font-size: 18px;
    }

    .title {
        font-size: 31px;
    }

    .divider {
        transform: translateX(30px);
    }

    .inspiration {
        .divider {
            margin: 3px auto 0px auto;
            transform: translateX(60px);
        }
    }

    .inspiration__grid {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);

        .vertical {
            grid-row: 1 / 5;
            grid-column: 2 / 5;
        }

        .horizontal {
            grid-column: 1 / 5;
            grid-row: 5 / 6;
        }

    }

    .customers {
        .divider {
            transform: translateX(60px);
        }
    }

    .customers__items {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }

    .footer {
        padding: 50px 30px 50px 30px;

        .footer__block {
            flex-direction: column;
            row-gap: 20px;
        }
    }
}



@media (max-width: 576px) {
    :root {
        --container-padding-inline: 13px;
        --footer-padding-inline: 13px;
    }

    .promo__title {
        font-size: 26px;
    }

    .promo__subtitle {
        font-size: 16px;
        margin-top: 60px;
    }

    .btn {
        font-size: 14px;
    }

    .promo__address {
        margin-top: 250px;
    }

    .keywords {
        padding: 0px 10px;

        #Industrial,
        #Pets,
        #Style {
            display: none;
        }
    }

    .about__text {
        font-size: 16px;
    }

    .services__items-subtitle {
        font-size: 12px;
    }

    .services__items {
        & ul {
            li {
                font-size: 14px;
            }
        }
    }

    .services__text {
        font-size: 14px;
    }

    .title {
        font-size: 24px;
    }

    .divider {
        transform: translateX(20px);
    }

    .works__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr) 1fr;
        row-gap: 30px;
        column-gap: 0px;
    }

    .inspiration {
        .divider {
            transform: translateX(40px);
        }
    }

    .inspiration__grid {
        display: flex;
        flex-wrap: wrap;
    }

    .customers {
        .divider {
            transform: translateX(40px);
        }
    }

    .footer__block {
        row-gap: 30px;
    }

    .footer {
        img {
            width: 26px;
            height: 26px;
        }

        .address {
            font-size: 13px;
        }

        a {
            font-size: 13px;
        }
    }
}
